apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.allow-http: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "false"
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    cert-manager.io/issuer: acme-lets-encrypt
  creationTimestamp: null
  generation: 1
  name: leto-latest-ingress
spec:
  rules:
  - host: leto-modelizer.ht.nearteam.fr
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: leto-latest-svc
            port:
              number: 80